.project-contant {
  margin: 1rem;
  background-color: $bg-color-1;
  // width: 100%;

  & .project-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    & .header-contant {
      background-color: $font-color-2;
      padding: 1rem;
      width: 100%;
      box-shadow: $light-shadow;
      border-radius: 12px;
      & .title {
        margin: 1rem 0 0 1rem;
      }
      & .links {
        display: flex;
        width: 100%;
        background-color: $font-color-2;
        border-radius: 12px;
        padding: 0.5rem;
        & li {
          list-style: none;
          cursor: pointer;
          background-color: $bg-color-1;
          margin: 0 0.5rem 0.5rem 0;
          font-weight: 600;
          color: $font-color;
          padding: 0.5rem 1rem;
          border-radius: 12px;
          transition: $transition;

          &:hover {
            background-color: $main-color;
            color: $font-color-2;
          }
        }
        & .active {
          background-color: $main-color;
          color: $font-color-2;
        }
      }
    }

    & .project-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      background-color: $bg-color-1;
      border-radius: 12px;
      margin: 1rem 0;

      & .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        background-color: #fff;
        box-shadow: 0 5px 15px #0000001a;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 12px;
        max-width: 280px;

        & .img-contant {
          overflow: hidden;
          max-height: 300px;
          & img {
            border-radius: 5px;
            width: 100%;
          }
        }

        & .tags {
          display: flex;
          flex-wrap: wrap;
          margin: 0.5rem 0;
          justify-content: flex-start;
          & span {
            font-size: 90%;
            padding-left: 0.3rem;
            color: $bg-color-2;
            font-weight: 600;
          }
        }
        & .title {
          margin: 0.5rem 0;
        }
        & .desc {
          text-align: justify;
          font-size: 16px;
          margin: 0.5rem 0;
        }

        & .btn-contant {
          display: flex;
          justify-content: space-around;

          & .btn {
            border-radius: 12px;
            border: none;
            outline: none;
            padding: 0.5rem 1.5rem;
            cursor: pointer;
            background-color: $main-color;
            color: $font-color-2;
            transition: $transition;
            font-weight: 600;

            &:hover {
              transform: scale(1.08);
            }
          }
        }
      }
    }
  }
}
